{% extends 'store/base.html' %}

{% block content %}

<div class="container-fluid">
    <span class="d-block my-3" style="font-size: 1.5rem; font-family: 'Courier New', Courier, monospace;">{{title}}</span>
    <form action="" method="post">
        {% csrf_token %}

            {% block form %}

            <p>{{form.user.errors}}</p>
            <p>{{form.user.label}}</p>
            <p>{{form.user}}</p>

            <p>{{form.equipment_type.errors}}</p>
            <p>{{form.equipment_type.label}}</p>
            <p>{{form.equipment_type}}</p>

            <p>{{form.equipment.errors}}</p>
            <p>{{form.equipment.label}}</p>
            <p>{{form.equipment}}</p>
            <button type="submit" class="btn btn-outline-success" id="toast-button">Submit</button>
            
            {% endblock %}
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#id_equipment_type').change(function(){
            var equipment_type = $(this).val();
            $.ajax({
                url: '/get_ids/',
                data: {
                    'equipment_type': equipment_type
                },
                success: function(data){
                    var len = data.length
                    $('#id_equipment').empty()
                    for(var i=0; i<len; i++){
                        $('#id_equipment').append("<option value='"+data[i][0]+"'>"+data[i][1]+"</option>");
                    }
                    $('#id_equipment').prop('disabled', false);
                }
            });
        });
    });
</script>

{% endblock %}