{% extends 'store/base2.html' %}

{% block app_content %}

<div class="row container-box p-2">
    <div class="col-9">
      <form action="{% url 'store:search-equipment-type' %}">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </form>
    </div>
  
    <div class="col-3 position-relative">
      <div class="position-absolute end-0">
        <a href="{% url 'store:add-equipment-type' %}" class="btn btn-success add-button">Add Equipment Type</a>
      </div>
    </div>
</div>

<div class="container border border-secondary rounded" style="height: 80%;">
    <table class="table table-striped table-hover">
        <thead>
            <th>Name</th>
            <th class="text-end">Total</th>
            <th class="text-end">Functional</th>
            <th class="text-end">Assigned</th>
            <th class="text-end">Remaining</th>
        </thead>

        <tbody>
            {% for equipment_type in equipment_types %}
                <tr>
                    <td><a href="{% url 'store:particular-equipments' equipment_type.name %}">{{equipment_type.name}}</a></td>
                    <td class="text-end">{{equipment_type.get_total_equipments}}</td>
                    <td class="text-end">{{equipment_type.get_functional_equipments}}</td>
                    <td class="text-end">{{equipment_type.get_assigned_equipments}}</td>
                    <td class="text-end">{{equipment_type.get_remaining_equipments}}</td>
                    <td class="text-end">
                        <a href="{% url 'store:update-equipment-type' equipment_type.pk %}" class="btn btn-outline-success buttons">Edit</a>
                        <a href = "{% url 'store:delete-equipment-type' equipment_type.pk %}" class="btn btn-outline-danger buttons">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}