{% extends 'store/base.html' %}

{% block content %}

<div class="container-box p-2">
    <form action="{% url 'store:search-equipment' %}">
        <input type="text" class="form-control" placeholder="Search" name="search">
    </form>
</div>

<div class="shadow-lg container bg-light" style="height: 85%;">
    <div class="d-flex w-100 m-0 text-center justify-content-between align-items-center" style="height: 7%;">
        <div></div>
        <h5>{{total}} Records</h5>
        <div class="btn-group">
            <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Use Filter
            </button>
            {% block filter %}
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a href="" class="dropdown-item">Total</a></li>
                    <li><a href="" class="dropdown-item">Assigned</a></li>
                    <li><a href="" class="dropdown-item">Returned</a></li>
                </ul>
            {% endblock %}
        </div>
    </div>
    <hr class="m-0">

    <div class="container m-0 w-100 p-1 overflow-scroll" style="height: 86%;">
        {% for object in object_list %}
        <div class="d-flex justify-content-between align-items-center w-100 p-2 border-bottom">
            <strong>{{object.label}}</strong>
            <span>{{ object.get_current_user }}</span>
            <a href="{% url 'store:detail-equipment' object.pk %}" class="btn btn-outline-dark btn-sm">View Details</a>
        </div>
        {% endfor %}
    </div>

    <div class="d-flex align-items-center justify-content-center w-100">
        {% include 'store/pagination.html' %}
    </div>
</div>

</div>

{% endblock %}