{% extends 'store/list.html' %}

{% block search %}
<div class="container-fluid mb-2 mt-2 p-0">
    <form action="{% url 'store:search-equipment' equipment_type=equipment_type %}">
        <input type="text" class="form-control" placeholder="Search" name="search">
    </form>
</div>
{% endblock %}

{% block filter %}
<ul class="dropdown-menu dropdown-menu-lg-end">
    <li><a href="{% url 'store:particular-equipments' equipment_type=equipment_type filter='working'%}" class="dropdown-item">Working</a></li>
    <li><a href="{% url 'store:particular-equipments' equipment_type=equipment_type filter='assigned'%}" class="dropdown-item">Assigned</a></li>
    <li><a href="{% url 'store:particular-equipments' equipment_type=equipment_type filter='under_repair'%}" class="dropdown-item">Under Repair</a></li>
</ul>
{% endblock %}

{% block items %}
<table class="table table-striped table-hover info-table">
    <tbody>
    {% for object in object_list %}
        <tr>
            <th>
                <a href="{% url 'store:detail-equipment' slug=object.slug equipment_type=equipment_type %}" class="link-dark p-0">
                    {{object.label}}
                </a>
            </th>
            <td>{{object.serial_number}}</td>
            <td>{{object.model_number}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}