.mobile-mode{
    display: none;
}

@media screen and (max-width: 991px) and (min-width: 601px){
    .desktop-mode{
        display: none;
    }

    .mobile-mode{
        display: block;
    }

    .div-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-table{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) and (min-width: 301px){
    .desktop-mode{
        display: none;
    }

    .mobile-mode{
        display: block;
    }

    .div-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-table{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 300px){
    .desktop-mode{
        display: none;
    }

    .mobile-mode{
        display: block;
    }

    .div-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-table{
        font-size: 0.9rem;
    }
}