{% extends 'accounts/base.html' %}

{% block content %}

<div class="row" style="height: 94%;">
  <div class="col-lg-2 desktop-mode">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100" style="height: 100%;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4">Inventory Store</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto list-unstyled">
            <li class="mb-1">
              <a href="{% url 'store:equipment-types' %}" class="btn btn-toggle align-items-center rounded">
                Dashboard
              </a>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#equipment-type-collapse" aria-expanded="false">
                Equipment Type
              </button>
              <div class="collapse" id="equipment-type-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal p-1 small">
                  <li><a href="{% url 'store:add-equipment-type' %}" class="btn btn-dark w-100 m-1">Add</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#equipment-collapse" aria-expanded="false">
                Equipment
              </button>
              <div class="collapse" id="equipment-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal p-1 small">
                  <li><a href="{% url 'store:add-equipment' %}" class="btn btn-dark w-100 m-1">Add</a></li>
                  <li><a href="{% url 'store:create-allocation' %}" class="btn btn-dark w-100 m-1">Assign</a></li>
                </ul>
              </div>
            </li>
            <hr>
            <li class="mb-1">
              <a href="{% url 'store:allocations' %}" class="btn btn-toggle align-items-center rounded">
                Allocations
              </a>
            </li>
            <hr>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
                Users
              </button>
              <div class="collapse" id="user-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal p-1 small">
                  <li><a href="{% url 'accounts:users' %}" class="nav-link link-dark">All Users</a></li>
                  <li><a href="{% url 'accounts:add-user' %}" class="btn btn-dark w-100 m-1">Add</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <hr>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user m-1" aria-hidden="true" style="font-size: 1.5rem;"></i>
              <strong>{{request.user}}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="{% url 'accounts:update-user' request.user.id %}">Edit Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Sign out</a></li>
            </ul>
          </div>
        </div>
  </div>
  <div class="col-12 col-lg-10" style="height: 100%;">
      {% block app_content %}{% endblock %}
  </div>
</div>

{% endblock %}