{% extends 'store/list.html' %}

{% block search %}
<div class="container-fluid mt-2 mb-2 p-0">
  <form action="{% url 'accounts:search-user' %}">
    <input type="text" class="form-control" placeholder="Search" name="search">
  </form>
</div>
{% endblock %}

{% block usefilter %}
<div></div>
{% endblock %}

{% block items %}
<table class="table table-striped table-hover info-table">
    <tbody>
    {% for object in object_list %}
        <tr>
            <th>{{object.get_full_name}}</th>
            <td>{% if object.is_superuser %}Admin{% else %}Staff{% endif %}</td>
            <td class="text-end">
              {% if request.user.is_superuser or request.user == object %}
                <a href="{% url 'accounts:update-user' object.pk %}" class="m-1"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                <a href="{% url 'accounts:delete-user' object.pk %}" class="m-1"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i></a>
              {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}